.skill-wrapper {
  margin-bottom: 20px;
}

.skill-name {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: bold;
}

.skill-bar {
  background: #e5e5e5;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.skill-progress {
  height: 100%;
  width: 0;
  background: #4f46e5;
  border-radius: 10px;
  transition: width 1.2s ease-out;
}

.skill-animate {
  width: var(--value);
}
